---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import { Card, Icon, Label } from 'astro-pure/user'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings}>
  <p class='text-muted-foreground'>Student / <del>Developer</del></p>
  <p>你好，我叫袁霁 👋🏻</p>
  <p>目前在华中科技大学计算机科学与技术学院读大二 📖</p>
  <p>正在探索Agent开发相关技术栈 Python/Go 🧑🏻‍💻</p>
  <p>梦想成为编程高手！✨</p>
  <p>
    Motto: Stay hungry, Stay foolish.
  </p>


  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li><del>逃课</del>自学 🙇🏻</li>
    <li>Hiphop/Rock/Jazz 看Livehouse 🎸</li>
    <li>阅读/写作 间歇性的 📚</li>
    <li>装机/修电脑 一些能折腾的东西 🧑🏻‍🔧</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Obsidian',
        description: 'Note Taking',
        href: 'https://www.obsidian.md/',
        icon: import('@/assets/tools/obsidian.svg?raw')
      },
      {
        name: 'Google Gemini',
        description: 'Ideas Generation',
        href: 'https://gemini.google.com/',
        icon: import('@/assets/tools/gemini.svg?raw')
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Goland',
        description: 'IDE',
        href: 'https://www.jetbrains.com/go/',
        icon: import('@/assets/tools/goland.svg?raw')
      },
      {
        name: 'Pycharm',
        description: 'IDE',
        href: 'https://www.jetbrains.com/pycharm/',
        icon: import('@/assets/tools/pycharm.svg?raw')
      },
      {
        name: 'GitHub Copilot',
        description: 'AI Coding Assistant',
        href: 'https://www.github.com',
        icon: import('@/assets/tools/githubcopilot.svg?raw')
      },
      {
        name: 'Claude Code',
        description: 'AI Coding Assistant',
        href: 'https://claude.ai/code',
        icon: import('@/assets/tools/claude.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Tahoe',
        description: 'M4 MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Desktop',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
        {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    你可以在以下平台找到我：
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/yuanji6666',
        text: 'followers',
        api: 'github/yuanji6666'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561199012725122',
        text: 'games',
        api: 'steamgames/76561199012725122'
      },
      {
        platform: 'Netease',
        icon: 'netease',
        color: '#50769d',
        link: 'https://music.163.com/#/user/home?id=1895096332',
        text: 'followers',
        api: 'neteasemusic/1895096332'
      }
    ]}
  />


</PageLayout>
